<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Welcome to SW@P</h1>
	<br />
	<p>SW@P is a javascript library aiming at reinforcing the privacy during transactions made on the internet. It provides a way for its users to interact with organizations in an efficient and anonymous manner. The system you're now interacting with has been built on top of the library to demonstrate its functionalities. This system operates in three steps described below.</p>
	<br />
  <p><a class="btn btn-primary btn-large" href="/functionalities">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
	
  <div class="span4">
    <h2>1. Setting up the environment</h2>
    <p style="text-align: justify;">This first step will let you generate a new secret key if you don't already have one. This key will be used in the following steps to ensure the privacy of your communication with the server.</p>
    <p><a class="btn" href="/setup">Learn more &raquo;</a></p>
  </div>

  <div class="span4">
    <h2>2. Issuing a new credential</h2>
    <p style="text-align: justify;">In this second step, you will interact anonymously with our server to receive a credential on a set of attributes you provide.</p>
		<br />
    <p><a class="btn" href="/issue">Learn more &raquo;</a></p>
  </div>

  <div class="span4">
    <h2>3. Proving possession</h2>
    <p style="text-align: justify;">This last step consists of proving you indeed possess a credential issued by our server. The authenticity of your credential will be checked to ensure it has not been tampered with.</p>
    <p><a class="btn" href="/prove">Learn more &raquo;</a></p>
  </div>

</div>