<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Welcome to SWAP</h1>
  <p>The Secure Web Authentication Prototype is a javascript library aiming at reinforcing privacy during transactions on the internet.</p>
  <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>1. Generating a new secret key</h2>
    <p style="text-align: justify;">You first need to generate a new secret key to be able to pursue with the following steps. This key must remain secret and it will therefore never be disclosed in any of the sub-sequent operations.</p>
    <p><a class="btn" href="/setup">Start now &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>2. Issuing a new credential</h2>
    <p style="text-align: justify;">The second step consists of issuing a credential.</p>
    <p><a class="btn" href="/issue">Go get one &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>3. Proving possession</h2>
    <p style="text-align: justify;">The last step consists of proving a set of statements regarding a credential earlier.</p>
    <p><a class="btn" href="/prove">Prove it! &raquo;</a></p>
  </div>
</div>