<div class="container">
  <div class="row">
	
    <div class="span8">
      <div class="hero-unit">
				<h1>Prove possession of a credential</h1>
				<p style="text-align: justify;">In this last step, you can prove the authenticity of one of the credentials you have been issued. For this, you will specify the credential you want to use, but its content will never be disclosed to the server.</p>
			</div>
    </div><!--/span-->

		<div class="span4">
			<form class="well form-inline" action="JavaScript:CredSystem.prove()">
				<legend>Please help us locate...</legend>
				<p style="text-align: justify;">This tab will allow you to prove possession of a credential you have received before. This verification requires you to enter the credential you want to use, but its content will not be disclosed to the server.</p>
				
				<br />
				
				<div id="private_data_choice">
					<legend>Please make your choice...</legend>
				</div>
				
				<br />
				
				<input type="submit" value="Submit" class="btn">
			</form>
			
			<!-- display the progression -->
			<div style="display:none;" id="progression_container">
			</div>
	 	</div><!--/span-->
	</div><!--/row-->
</div><!--/.fluid-container-->


<!-- dependencies -->
<script type="text/javascript" src="/javascripts/libraries/jsbn/jsbn.js"></script>
<script type="text/javascript" src="/javascripts/libraries/jsbn/prng4.js"></script>
<script type="text/javascript" src="/javascripts/libraries/jsbn/rng.js"></script>
<script type="text/javascript" src="/javascripts/libraries/crypto-js/sha256.js"></script>

<!-- library -->
<script type="text/javascript" src="/javascripts/swap/dm/Attribute.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/Credential.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/Commitment.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/CommitmentOpening.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/DomNym.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/MasterSecret.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/Nym.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/Value.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/Values.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/structure/AttributeStructure.js"></script>
<script type="text/javascript" src="/javascripts/swap/dm/structure/CredentialStructure.js"></script>
<script type="text/javascript" src="/javascripts/swap/issuance/IssuanceSpec.js"></script>
<script type="text/javascript" src="/javascripts/swap/issuance/Message.js"></script>
<script type="text/javascript" src="/javascripts/swap/issuance/Recipient.js"></script>
<script type="text/javascript" src="/javascripts/swap/key/IssuerPublicKey.js"></script>
<script type="text/javascript" src="/javascripts/swap/showproof/Identifier.js"></script>
<script type="text/javascript" src="/javascripts/swap/showproof/Proof.js"></script>
<script type="text/javascript" src="/javascripts/swap/showproof/ProofSpec.js"></script>
<script type="text/javascript" src="/javascripts/swap/showproof/Prover.js"></script>
<script type="text/javascript" src="/javascripts/swap/showproof/predicates/Predicate.js"></script>
<script type="text/javascript" src="/javascripts/swap/showproof/predicates/CLPredicate.js"></script>
<script type="text/javascript" src="/javascripts/swap/showproof/sval/SValue.js"></script>
<script type="text/javascript" src="/javascripts/swap/showproof/sval/SValuesProveCL.js"></script>
<script type="text/javascript" src="/javascripts/swap/utils/ASN1.js"></script>
<script type="text/javascript" src="/javascripts/swap/utils/Constants.js"></script>
<script type="text/javascript" src="/javascripts/swap/utils/GroupParameters.js"></script>
<script type="text/javascript" src="/javascripts/swap/utils/Parser.js"></script>
<script type="text/javascript" src="/javascripts/swap/utils/StructureStore.js"></script>
<script type="text/javascript" src="/javascripts/swap/utils/SystemParameters.js"></script>
<script type="text/javascript" src="/javascripts/swap/utils/Utils.js"></script>
<script type="text/javascript" src="/javascripts/swap/utils/perf/Exponentiation.js"></script>
<script type="text/javascript" src="/javascripts/swap/utils/perf/FixedBaseWindowing.js"></script>

<!-- credential system -->
<script type="text/javascript" src="/javascripts/credsystem/CredSystem.js"></script>
<script type="text/javascript" src="/javascripts/credsystem/utils/JSONConverter.js"></script>
<script type="text/javascript" src="/javascripts/credsystem/utils/Locations.js"></script>
<script type="text/javascript" src="/javascripts/credsystem/utils/Store.js"></script>
<script type="text/javascript" src="/javascripts/credsystem/utils/Utils.js"></script>


<input type="hidden" id="fixedBaseWindowingMap" value="<%= fixedBaseWindowingMap %>" />
<input type="hidden" id="nonce" value="<%= nonce %>" />
<input type="hidden" id="success" value="<%= success %>" />
<script type="text/javascript">
	
	// ask the user to choose an existing credential
	var credentialMap = Store.loadCredentialMap();
	
	var credentialSelectionList = document.createElement("select");
	credentialSelectionList.setAttribute("id", "credential_selection_list");
	
	var option = null;
	for(var key in credentialMap) {
		option = document.createElement("option");
		option.appendChild(document.createTextNode(key));
		option.setAttribute("value", credentialMap[key].toJSONString());
		credentialSelectionList.appendChild(option);
	}
	
	var credentialSelectionListContainer = document.createElement("div");
	credentialSelectionListContainer.setAttribute("class", "controls");
	credentialSelectionListContainer.appendChild(credentialSelectionList);
	
	var credentialSelectionListLabel = document.createElement("label");
	credentialSelectionListLabel.setAttribute("class", "control-label");
	credentialSelectionListLabel.setAttribute("for", "credential_selection_list");
	credentialSelectionListLabel.appendChild(document.createTextNode("Credential"));
	
	var credentialGroupContainer = document.createElement("div");
	credentialGroupContainer.setAttribute("class", "control-group");
	credentialGroupContainer.appendChild(credentialSelectionListLabel);
	credentialGroupContainer.appendChild(credentialSelectionListContainer);
	
	var personalData = document.getElementById("private_data_choice");
	personalData.appendChild(credentialGroupContainer);
	
	// Proving protocol
  var nonceString = document.getElementById("nonce").value;
  var successString = document.getElementById("success").value;
  if(nonceString != 'null' && successString == 'null') {
		// update progression
		Utils.updateProgression(10);
		// load prover from temporary memory
		var prover = Store.loadProver();
		// init map of precomputed powers for the bases
		if(Constants.FAST_EXPO) {
			var fixedBaseWindowingMapJSONString = document.getElementById("fixedBaseWindowingMap").value;
	    var fixedBaseWindowingMapJSONObject = eval('(' + fixedBaseWindowingMapJSONString + ')');
	    // convert to map of FixedBaseWindowing objects
	    var fixedBaseWindowingMap = new Object();
	    for(var key in fixedBaseWindowingMapJSONObject) {
	      fixedBaseWindowingMap[key] = FixedBaseWindowing.fromJSONObject(fixedBaseWindowingMapJSONObject[key]);
			}
			prover.setFixedBaseWindowingMap(fixedBaseWindowingMap);
			
			// update progression
			Utils.updateProgression(25);
		}
    // first get the nonce (done by the verifier)
    var nonce = BigInteger.fromJSONObject(nonceString);
		// init the nonce for prover
		prover.setNonce(nonce);
    // create the proof
    var proof = prover.buildProof();
    // convert into JSON string
    var proofJSONString = proof.toJSONString();
		// update progression
		Utils.updateProgression(95);
    // send proof and pass control for verification
    Utils.postToURL("/prove", proofJSONString, "verify");

  } else if (nonceString == 'null' && successString == 'true') {
		// update progression
		Utils.updateProgression(100);
    // display success box
    var successBox = document.getElementById("progression_container");
    successBox.setAttribute("class", "alert alert-success");
		successBox.setAttribute("style", "display:block;");
		
		var form = document.createElement("form");
		form.setAttribute("class", "form-inline");

		var textContainer = document.createElement("p");
		var text = document.createTextNode("Congratulations, you credential is authentic.");
		textContainer.appendChild(text);
		form.appendChild(textContainer);

		form.appendChild(document.createElement("br"));

		var homeButton = document.createElement("a");
		homeButton.setAttribute("href", "/");
		homeButton.setAttribute("class", "btn");
		text = document.createTextNode("Return to home");
		homeButton.appendChild(text);
		form.appendChild(homeButton);
		
		successBox.appendChild(form);
		
  } else if (nonceString == 'null' && successString == 'false') {
		// update progression
		Utils.updateProgression(100);
    // display failure box
    var successBox = document.getElementById("progression_container");
    successBox.setAttribute("class", "alert alert-error");
		successBox.setAttribute("style", "display:block;");
    var text = document.createTextNode("Sorry, the proof is not correct.");
    successBox.appendChild(text);
	}
</script>